name: Loxone-Java check

on:
  pull_request:
    branches: [ "master" ]
    paths:
      - 'src/**'
      - '*gradle*'

jobs:
  loxone-java-check:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - name: Check with Gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: clean check
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@v3
